.header {
    background: $dark-main;
    color: $gray-default;
    border-bottom: 1px solid $dark-gray;
    &__logo {
        font-family: 'Bebas Neue', cursive;
        height: 40px;
        color: $yellow-default;
        display: flex;
        gap: 10px;
        align-items: center;
        max-width: 250px;
        width: 100%;
        img {
            width: 100%;
            max-width: 50px;
            height: 100%;
            max-height: 40px;
        }
        p {
            word-wrap: normal;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            max-width: 100%;
            width: 100%;
        }
    }
    &__search {
        width: 100%;
        max-width: 400px;
        font-size: 0.8rem;
        position: relative;
        input {
            border-radius: 3px;
            border: 1px solid $yellow-default;
            color: $gray-default;
            padding: 10px 0px 10px 20px;
            background: transparent;
            width: 100%;
            height: 100%;
            &:placeholder {
                color: $gray-default;
                opacity: 0.6;
            }
        }
        &:after {
            content: '';
            background: url('../../src/imgs/icon-search.png')no-repeat;
            background-size: contain;
            position: absolute;
            top: 7px;
            right: 0px;
            z-index: 999;
            height: 20px;
            width: 30px;
            overflow: hidden;
        }
        &:focus {
            border: 1px solid $gray-default;
            border-radius: 0px;
        }
    }
    .header-options {
        display: flex;
        gap: 35px;
        list-style: none;
        &__item {
            display: flex;
            align-items: center;
            height: 20px;
            width: 20px;
            img {
                color: $gray-default;
                max-width: 20px;
            }
        }
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
    }
}