.header {
    background: $dark-main;
    color: $gray-default;
    &__logo {
        height: 40px;
        width: 170px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__search {
        color: $yellow-default;
        border: 2px solid $yellow-default;
        background: transparent;
        padding: 8px 10px;
        width: 100%;
        max-width: 400px;
        border-radius: 16px;
        font-size: 0.7rem;
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}