.header {
    background: $dark-main;
    color: $gray-default;
    border-bottom: 1px solid $dark-gray;
    &__logo {
        font-family: 'Bebas Neue', cursive;
        height: 40px;
        color: $yellow-default;
        display: flex;
        gap: 10px;
        align-items: center;
        max-width: 200px;
        width: 100%;
        img {
            width: 100%;
            max-width: 50px;
            height: 100%;
            max-height: 40px;
        }
        p {
            word-wrap: normal;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            max-width: 100%;
            width: 100%;
        }
    }
    &__search {
        color: $gray-default;
        border: 1px solid $yellow-default;
        background: transparent;
        padding: 8px 10px;
        width: 100%;
        max-width: 400px;
        border-radius: 16px;
        font-size: 0.7rem;
    }
    &__search::placeholder {
        color: $gray-default;
        opacity: 0.6;
    }
}

.header-options {
    display: flex;
    gap: 35px;
    list-style: none;
    &__item {
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        img {
            color: $gray-default;
            max-width: 20px;
        }
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}