.header {
    background: $dark-main;
    color: $gray-default;
    &__logo {
        height: 40px;
        width: 170px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__search {
        color: $gray-default;
        border: 1px solid $yellow-default;
        background: transparent;
        padding: 8px 10px;
        width: 100%;
        max-width: 400px;
        border-radius: 16px;
        font-size: 0.7rem;
    }
    &__search::placeholder {
        color: $gray-default;
        opacity: 0.6;
    }
}

.header-options {
    display: flex;
    gap: 35px;
    list-style: none;
    &__item {
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        img {
            color: $gray-default;
            max-width: 20px;
        }
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}