.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    &__title {
        letter-spacing: 0.1rem;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: $yellow-light;
    }
    &__container {
        padding: 20px 15px;
        height: 100%;
        width: 100%;
        max-height: 600px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: $gray-default;
        background: $dark-gray;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    &__header {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        a {
            position: absolute;
            right: 0px;
            top: -7px;
            padding: 5px;
        }
        img {
            max-width: 30px;
            height: 30px;
        }
    }
    &__body {
        height: 100%;
        label {
            font-size: 0.8rem;
            padding: 5px 0px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        select,
        input {
            border-radius: 4px;
            padding: 7px 5px;
            line-height: 14px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $gray-default;
            background: transparent;
            color: $gray-default;
            width: 100%;
            max-width: 250px;
            &:focus {
                border: 1px solid $yellow-light;
            }
        }
    }
    &__list-config {
        li {
            list-style: none;
            p {
                border-bottom: 1px solid $gray-default;
                text-transform: uppercase;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                color: $gray-default;
                margin-bottom: 10px;
            }
            span {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &--active {
        display: flex !important;
    }
}

.modal-download,
.modal-upload {
    input {
        margin: 10px 0px;
        width: 100%;
        max-width: 400px;
    }
    input[type="file"] {
        display: none;
    }
    .file-upload {
        cursor: pointer;
        border-radius: 4px;
        padding: 12px 10px;
        line-height: 14px;
        font-size: 14px;
        display: flex;
        border: 1px solid $gray-default;
        width: 100%;
        max-width: 450px;
    }
}