.content {
    &__grid {
        display: grid;
        grid-template-columns: 400px 1fr;
        max-width: 100%;
    }
    &__navbar {
        background: $dark-main;
        color: $yellow-default;
        padding: 50px 50px 0px 50px;
        height: 100vh;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    .nav-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        li {
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            color: $gray-default;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 15px;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover {
                color: $yellow-default;
                img {
                    color: $yellow-default;
                }
            }
            img {
                max-width: 25px;
                height: 25px;
            }
        }
    }
    .content-support {
        background: $dark-gray;
        padding: 40px 50px;
        color: $gray-default;
        section {
            display: none;
        }
    }
}

.content-title {
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: un;
}

.active {
    display: block !important;
}


/* === Sessão Download === */

.content-download {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .content-download-item {
        padding: 10px;
        height: 120px;
        width: 200px;
        border: 1px solid $gray-default;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        ul {
            font-size: 0.8rem;
            padding-top: 5px;
            li {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            span {
                display: flex;
                gap: 5px;
                a {
                    color: $yellow-default;
                }
            }
        }
        &__desc {
            max-height: 30px;
            overflow: hidden;
            padding-bottom: 5px;
            line-height: 1rem;
        }
        &__title {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 0.9rem;
        }
    }
}


/*=== Sessão Painel ====*/

.content-panel {
    display: flex;
    gap: 20px;
    button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        border: 1px solid $yellow-default;
        color: $yellow-light;
        padding: 20px;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 4px;
        img {
            height: 24px;
            width: 24px;
        }
        &:hover {
            transition: 0.3s ease;
            text-shadow: 1px 1px 2px $yellow-default;
            box-shadow: 2px 2px 15px -4px rgba(255, 209, 0, 1);
        }
    }
    .btn-download {
        img {
            transform: rotate(180deg);
        }
        &:hover {
            img {
                animation: downloadMove 0.5s ease-out infinite alternate;
            }
        }
    }
    .btn-upload {
        &:hover {
            img {
                animation: uploadMove 0.5s ease-out infinite alternate;
            }
        }
    }
}