.content {
    &__grid {
        display: grid;
        grid-template-columns: 400px 1fr;
        max-width: 100%;
    }
    &__navbar {
        background: $dark-main;
        color: $yellow-default;
        padding: 50px 50px 0px 50px;
        height: 100vh;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    .nav-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
            a {
                font-size: 0.9rem;
                color: $gray-default;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 6px;
                transition: 0.3s ease;
                &:hover {
                    color: $yellow-default;
                    img {
                        color: $yellow-default;
                    }
                }
            }
            img {
                max-width: 25px;
                height: 25px;
            }
        }
    }
    .content-support {
        background: $dark-gray;
    }
}